.tablero-juego {
  width: 440px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid var(--borde-tablero);
  background-color: var(--tablero-fondo);
  backdrop-filter: blur(10px);
}

.card {
  width: calc(25% - 10px);
  height: 100px;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  margin: 0;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  backface-visibility: hidden;
  border: 2px solid var(--borde-carta);
}

.card-back {
  background-color: var(--carta-dorso);
  color: var(--texto2);
}

.card-front {
  background-color: var(--carta-frente);
  transform: rotateY(180deg);
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}