header {
  text-align: center;
  padding: 20px;
}

.titulo-header {
  display: inline-block;
  padding: 12px 25px;
  border-radius: 10px;
  background: var(--fondo-titulo);
}
.titulo-header h1 {
  font-family: var(--fuente-titulo);
}

.nav-header {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.nav-links .btn-nav {
  font-family: var(--fuente-btn);
}
.nav-links a,
.nav-links button {
  all: unset;
  padding: 8px 14px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 90px;
  height: 34px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--texto);
}

.nav-links a:hover,
.nav-links button:hover {
  background-color: var(--principal-hover);
  color: black;
}